<!--This file has to be included in the page html so knockout can use it. Can use aspx include, or jquery. I'm using jquery-->

<script type="text/html" id="like-widget-separated-template">
    <div class="like-or-dislike" data-bind="visible: !chosenValue()">

        <button data-bind="click: like">Like it</button>
        <button data-bind="click: dislike">Dislike it</button>
    </div>
    <div class="result" data-bind="visible: chosenValue">

        You <strong data-bind="text: chosenValue"></strong> it
    </div>
</script>
